form{
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
/*     background-color: cadetblue; */
    padding: 40px 40px;
}

.contact-form input, textarea{
    margin: 10px 0px;
    padding: 10px 10px;
    font-family: 'Cabin', sans-serif;
    background-color: transparent;
    border: white solid 2px;
    
}

.contact-form input{
    height: 40px;
}

.contact-form textarea{
    height: 120px;
}