form{
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
/*     background-color: cadetblue; */
    padding-top: 40px;
}

.contact-form input, textarea, button{
    margin: 10px 0px;
    padding: 10px 10px;
    font-family: 'Cabin', sans-serif;
    background-color: transparent;
    border: white solid 2px;
    border-radius: 5px;
    color: white;
}

.contact-form input{
    height: 40px;
}

.contact-form textarea{
    height: 120px;
}

.contact-form button{
    cursor: pointer;
    transition: all 0.5s;
}

.contact-form button:hover{
    background-color: #AB8000;
    border: solid #AB8000 2px;
    border-radius: 5px;
}

