.parallax-banner{
    display: table;
    height: 60vh;
    position: relative;
    width: 100%;
}

/* .banner-about{
    background: url(./images/contactbanner.jpg) no-repeat bottom fixed;
    background-size: cover;
} */

.banner-members{
    background: url(./images/memberbanner.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-history{
    background: url(./images/historybanner2.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-contact{
    background: url(./images/contactbanner.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-text{
    position: relative;
    text-align: center;
    top: 28vh;
}

.banner-line{
    border: 1px solid white;
    width: 33%;
    margin: 0 auto;
}

.banner-text h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.body-container{
    background-color: black;
    margin: 0;
    padding: 0;
}


/* MEMBER CSS */
.class-nav{
    text-align: center;
}

.class-nav li{
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: white;
}


.horizontal-container{
    overflow-x: scroll;
    white-space: nowrap;
}

.class-container{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    text-align: center;
}

.image-cont{
    margin: 0 auto;
    margin-bottom: 30px;
    width: 250px;
    height: 330px;
    position: relative;
}

.image-cont img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
    top: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay:hover{
    opacity: 1;
    backdrop-filter: blur(5px);
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform  0.3s;
}

.image-overlay:hover > * {
    transform: translateY(0);
}



/* CONTACT CSS */

.email-container{
    padding-top: 80px;
}

.email-container .fa{
    padding: 0;
    padding-right: 15px;
    margin: 0;
    font-size: 25px;
}

form{
    text-align: center;
}

.contact-form{
    margin: 0px 200px;
    padding: 30px;
    display: flex;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.input-fields, .msg-fields{
    width: 48%;
}

.input-fields input, .msg-fields textarea{
    margin: 20px 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
    resize: none;
    width: 100%;
}

.msg-fields textarea{
    height: 200px;
}

::placeholder{
    color:white;
}

.btn{
    background: white;
    width: 100%;
}
