.parallax-banner{
    display: table;
    height: 60vh;
    position: relative;
    width: 100%;
}

/* .banner-about{
    background: url(./images/contactbanner.jpg) no-repeat bottom fixed;
    background-size: cover;
} */

.banner-members{
    background: url(./images/memberbanner.jpg) no-repeat fixed;
    background-position: 23% 78%;
    background-size: cover;
}

.banner-history{
    background: url(./images/historybanner2.jpg) no-repeat bottom fixed;
    background-size: cover;
}

.banner-contact{
    background: url(./images/contactbanner.jpg) no-repeat bottom fixed;
    background-size: cover;
}

.banner-text{
    position: relative;
    height: 100%;
    text-align: center;
    top: 28vh;
}

.banner-line{
    border: 1px solid white;
    width: 33%;
    margin: 0 auto;
}

.banner-text h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}

.body-container{
    background-color: black;
    margin: 0;
    padding: 0;
}

form{
    text-align: center;
}

.contact-form{
    margin: 0px 200px;
    padding: 30px;
    display: flex;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.input-fields, .msg-fields{
    width: 48%;
}

.input-fields input, .msg-fields textarea{
    margin: 20px 0;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    padding: 10px;
    color: white;
    resize: none;
    width: 100%;
}

.msg-fields textarea{
    height: 200px;
}

::placeholder{
    color:white;
}

.btn{
    background: white;
    width: 100%;
}