.body-container{
    background-color: black;
    margin: 0;
    padding: 60px 120px;
}

/* BANNERS */

.parallax-banner{
    display: table;
    height: 60vh;
    position: relative;
    width: 100%;
}

.banner-about{
    background: url(./images/aboutbanner.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-recruit{
    background: url(./images/contactbanner.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-members{
    background: url(./images/memberbanner.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-history{
    background: url(./images/historybanner2.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-contact{
    background: url(./images/contactbanner.jpg) no-repeat center fixed;
    background-size: cover;
}

.banner-text{
    position: relative;
    text-align: center;
    top: 28vh;
}

.banner-line{
    border: 1px solid white;
    width: 33%;
    margin: 0 auto;
}

.banner-text h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
}



/* HOME PAGE */
.home-container{
    width: 100%;
    background: url(./images/homeback.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.home-carousel{
    overflow: hidden;
    height: 100vh;
}

.home-slider{
    height: 100%; 
    display: flex;
    width: 400vw;
    transition: all 0.5s;
}

.home-slider section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-one{
}

#slide-one img, #slide-two img, #slide-three img, #slide-four img{
    width: 370px;
}

.home-controls .arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.home-controls .material-icons {
    color: white;
    font-size: 50px;
    transform: translateY(-50%);
}

.arrow.left{
    left: 40px;
}

.arrow.right{
    right: 40px;
}

.home-controls ul{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.home-controls ul li{
    width: 15px;
    height: 15px;
    margin: 10px;
    border: solid white 2px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

 .home-controls ul li.selected{
     background: transparent;
 }


/* ABOUT US */

#mission{
    text-align: center;
    padding-bottom: 60px;
}

#mission h2{
    padding-bottom: 10px;
}

.title-split{
    height: 0px;
    width: 200px;
    margin: 0px auto 0px auto;
    border-bottom: solid white 1px;	
    padding-top: 5px;
}

#mission h4{
    padding-top: 30px;
}

#values h2{
    text-align: center;
}

#family{

}

#tradition{
    text-align: right;
}

/* MEMBER CSS */

.class-heading{
    padding: 100px 0px 30px 0px;
    text-align: center;
}

.header-split{
    margin: 15px auto;
    width: 40px;
    height: 0px;
    border-bottom: dotted white 7px;
}

.header-split-two{
    margin: 0 auto;
    height: 0px;
    border-bottom: solid #AB8000 5px;	
    padding-top: 8px;
    width: 250px;
}

/* CONTACT CSS */

.email-container{
}

.email-container h3{
    display: flex;
    align-items: center;
/*     background-color: sandybrown; */
    font-size: 23px;
    letter-spacing: 1px;
}

.email-container .fa{
    padding: 5px 13px;
/*     background-color: rosybrown; */
    font-size: 25px;
}

/* FOOTER */

footer{
    width: 100%;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;

}

footer h3{
    font-size: 30px;
    letter-spacing: 1px;
}

.footer-split{
    height: 0px;
    width: 120px;
    margin: 20px auto 25px auto;
    border: solid white 1px;	
}

.social-icons{
    text-align: center;
}

.fa{
    font-size: 40px;
    color:white;
    padding: 13px 40px;
    transition: 0.5s;
}

.fa:hover{
    color: #DCD02C;
    text-decoration: none;
    transform: scale(1.3);

}

.credits-text{
    text-align: center;
    padding-top: 90px;
}

.credits-text p{
    margin: 0;
}



@media (max-width: 991px){
    .text-contain{
        padding: 60px 80px;
    }

    .email-container{
        text-align: center;
    }

    .email-container h3{
        justify-content: center;
    }
 }

/* 
 @media (max-width: 576px){
    .email-container{
    }

    .email-container h3{
        font-size: 20px;
    }

    .email-container .fa{
        padding: 0;
        padding-right: 7px;
        margin: 0;
        font-size: 20px;
    }
  } */