.navbar-default{
    background: rgba(0, 0, 0, 0.5);
}

.toggle-container{
    margin: 5.5px 5px;
}
.navbar-toggler{
    border: 1px solid white;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav > li{
    padding: 5px 20px;
}

.navbar-nav > li > a{
    color: white;
    font-family: 'Roboto Condensed', 'sans-serif';
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
}

.navbar-nav > li > a:hover{
    color: #DCD02C;
    transition: 0.5s;
}


.class-nav{
    text-align: center;
    height: 200px;
    overflow: hidden;
    padding-top: 100px;
    
}

.class-nav li{
    list-style-type: none;
    padding: 10px 40px;
    display: inline-block;
}

.class-nav a{
    border: solid white 1px;
    padding: 3px 10px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 17pt;
    font-family: 'Roboto Condensed', sans-serif;
    transition: 0.5s;
}

.class-nav a:hover{
    background-color: #AB8000;
    border: solid #AB8000 1px;
    border-radius: 5px;
}