* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.body{
    background-color: black;
}

h1{
    color: white;
    font-family: 'Roboto Condensed', 'san-serif';
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
}

h2{
    color: white;
    font-family: 'Roboto Condensed', 'san-serif';
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

h3{
    color: white;
    font-family: 'Roboto Condensed', 'san-serif';
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

h4{
    color: white;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

p{
    color:white;
    font-family: 'Cabin', sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

#home{
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    background: url(./images/homeback.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.header-container{
    width: 100%;
    padding: 30px 0;
    position: relative;
    text-align: center;
    top: 30vh;
}

#header-image{
    width: 370px;
/*     transition: 0.4s; */
}

/* #header-image:hover{
    transform: scale(1.2);
} */

footer{
    width: 100%;
    background-color: black;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;

}

footer h3{
    font-size: 30px;
    letter-spacing: 1px;
}

.footer-split{
    height: 0px;
    width: 120px;
    margin: 20px auto 25px auto;
    border: solid white 1px;	
}

.social-icons{
    text-align: center;
}

.fa{
    font-size: 40px;
    color:white;
    padding: 13px 40px;
    transition: 0.5s;
}

.fa:hover{
    color: #DCD02C;
    text-decoration: none;
    transform: scale(1.3);

}

.credits-text{
    text-align: center;
    padding-top: 90px;
}

.credits-text p{
    margin: 0;
}