* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1{
    color: white;
    font-family: 'Roboto Condensed', 'san-serif';
    font-weight: 500;
    letter-spacing: 2px;
    padding: 0px;
    margin: 0px;
}

h2{
    color: white;
    font-family: 'Roboto Condensed', 'san-serif';
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

h3{
    color: white;
    font-family: 'Roboto Condensed', 'san-serif';
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

h4{
    color: white;
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

p{
    color:white;
    font-family: 'Cabin', sans-serif;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}
